.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 21px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  display: block;
  width: 100%;
  height: 100%;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.address__link {
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background: url("../images/cover.jpg") center / cover no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgb(0 0 0 / 0.6);
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  margin-top: 20px;
  text-align: center;
}

.aligned-text_right {
  margin: 20px -30px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 24px 0;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 23px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 120px 24px 0;
  padding-top: 35px;
}

.about__column {
  display: flex;
  justify-content: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__column_text {
  display: flex;
  flex-direction: column;
  padding-top: 98px;
}

.about__title {
  margin: 3px 0 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text p:first-child {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 264px 1fr 240px;
  margin-top: 180px;
  padding: 0 50px 82px;
}

.footer__address {
  max-width: 264px;
}

.footer__menu {
  justify-self: center;
  font-size: 18px;
  line-height: 21px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
